body {
    background-color: hsl(144, 43%, 83%);
}

#home {
    font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: hsl(153, 69%, 39%);
    margin-right: 10px;
    font-size: 20px;
}

#home:hover {
    color: hsl(153, 60%, 69%);
}

.tweet {
    font-family: 'Arial';
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    padding: 5px;
    margin: 3px;
}

.timeStamp {
    font-size: 10px;
}

#icon {
    position: relative;
    background-image: url('refresh-icon.png');
    padding-left: 20px;
    padding-bottom: 2px;
    bottom: 2px;
}

#icon:hover {
    background-image: url('refresh-icon-hover.png');
}