body {
    background-color: hsl(144, 43%, 83%);
}

header {
    margin-bottom: 5px;
    margin-left: 5px;
}

main {
    max-width: 600px;
}

#home, #refreshTracker {
    font-family: 'Arial Rounded MT Bold', 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: hsl(153, 69%, 39%);
    margin-right: 10px;
    font-size: 20px;
}

#home:hover {
    color: hsl(153, 60%, 69%);
}

#refresh {
    position: relative;
    background-image: url('images/refresh-icon.png');
    padding-left: 20px;
    padding-bottom: 2px;
    bottom: 3px;
}

#refresh:hover {
    background-image: url('images/refresh-icon-hover.png');
}

#refreshTracker {
    font-size: 10px;
    padding-left: 10px;
}

.tweet {
    font-family: 'Arial';
    font-size: 15px;
    background-color: white;
    border-style: solid;
    border-radius: 8px;
    border-color: hsl(153, 69%, 25%);
    padding: 5px;
    margin: 3px;
}

.user {
    font-weight:bold;
    font-size: 13px;
    text-decoration: none;
    color: hsl(208, 96%, 48%);
}

.user:hover {
    color: hsl(208, 96%, 72%);
}

.timeStamp {
    font-size: 10px;
}
